<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="css/layout1.css">
</head>
<body>
    <div class="logo">
        <h1>Logo</h1>
    </div>


    <div class="navbar">
        <h1>Navigation</h1>
    </div>

    <div class="header">
        <h1>Header / Banner</h1>
    </div>

    <div class="body">
        <div class="sidebar">
            <h1>Side Bar</h1>
        </div>
        <div class="bodyarea">
            <h1>Body Area</h1>
        </div>
    </div>
    <div class="footer">
        <h1>Footer</h1>
    </div>
</body>
</html>