ul {
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
  }

  
  a {
    display: block;
    text-decoration: none;
    padding: 1em;
    background-color: rgb(81, 142, 255);
    color: white;
  }
  
  a:hover {
    background-color: rgb(27, 103, 245);
  }
  
  .mainmenu {
    width:200px;
  }
  

  .mainmenu :nth-child(1) {
    position: relative;
  }
  

  .submenu {
    position: absolute;
    width: 200px;
    left: 200px;
    top: 0;
    display: none;
  }
  
  
  .mainmenu :nth-child(1) a:hover + .submenu {
    display: block;
  }
  

  .submenu:hover {
    display: block;
  }